/* responsive design*/
@media (min-width:1200px){
    .top-menu-shop-cart {
        width: 65%;
        float: left;
    }
}

@media (max-width:1200px){

}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/

@media (max-width: 1100px){

}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/

@media (max-width:1100px){
 
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/


@media(max-width: 991px){
    .navi ul {
        display: block;
        text-align: left;
        padding-left: 0px;
    }
    .wrap .navi ul li {
        list-style-type: none;
        display: inline-block;
        padding: 0px 10px;
        font-family: lato;
        font-weight: 100;
    }
    .wrap .navi ul li a {
        font-size: 13.5px;
        text-decoration: none;
        color: black;
        transition: all .3s;
        display: inline-block;
        padding-bottom: 6px;
    }
    .mega-box .content .row ul li a {
        color: rgb(71, 59, 59);
        font-size: 12px !important;
    }
    
.content .row {
    margin: 0px !important;
    padding: 10px 40px;
    font-size: 12px;
  }
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
@media(min-width: 768px){
    #MobailHeader{
        display: none;
    }
    #mobailsearchBar{
        display: none;
    }
}

@media(max-width: 767px){

    #DesktopHeader{
        display: none;
    }



}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/



/*--------------------------------------------------------*/
/*--------------------------------------------------------*/


@media(max-width: 575px){
    .container{
        width: 90%!important;
        margin: auto!important;
    }
    .navBtn {
        width: 10%;
        float: left;
    }
    .mobail-NavLogo img {
        width: 17%;
        padding: 5px 0px;
    }
    .mobail-NavLogo {
        width: 35%;
        float: left;
    }
    .mobail-NavLogo img {
        width: 65%;
        padding: 5px 0px;
    }
    .mobail-cart-user {
        width: 55%;
        float: left;
        padding-top: 4px;
    }
    .MobailSearchWrap input {
        width: 85%;
        border: solid #d1ddea 1px;
            border-bottom-color: rgb(209, 221, 234);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        border-bottom-color: rgb(209, 221, 234);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-radius: 3px 0 0 3px !important;
        border-bottom: 2px solid #ff9900;
        transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
        height: 45px;
        line-height: 45px;
        text-align: left;
        padding: 20px;
        font-size: 16px;
        font-family: 'Lato';
        color: #a8a8a8d9;
    }
    .MobailSearchWrap i {
        background: #0397d3;
        width: 13%;
        color: #ffffff;
        padding: 15px 15px;
        border: none;
    }
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/



@media(min-width: 575px){
   
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/


/*--------------------------------------------------------*/
/*--------------------------------------------------------*/


@media(max-width:450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .mobail-NavLogo {
        width: 45%;
        float: left;
    }
    .MobailSearchWrap i {
        background: #0397d3;
        width: 15%;
        color: #ffffff;
        padding: 15px 15px;
        border: none;
    }
    .mobail-cart-user {
        width: 45%;
        float: left;
    }
    .MobailSearchWrap input {
        width: 85%;
        border: solid #d1ddea 1px;
            border-bottom-color: rgb(209, 221, 234);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        border-bottom-color: rgb(209, 221, 234);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-radius: 3px 0 0 3px !important;
        border-bottom: 2px solid #ff9900;
        transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
        height: 45px;
        line-height: 45px;
        text-align: left;
        padding: 20px;
        font-size: 16px;
        font-family: 'Lato';
        color: #a8a8a8d9;
    }
    .MobailSideNavMenu {
        padding-top: 25px; 
   }
    
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/


@media(max-width: 350px){
    .navBtn {
        width: 13%;
        float: left;
    }
    .mobail-NavLogo {
        width: 45%;
        float: left;
    }
    .mobail-NavLogo img {
        width: 90%;
        padding: 5px 0px;
    }
    .mobail-cart-user {
        width: 42%;
        float: left;
    }
    .MobailSearchWrap input {
        width: 75%;
        border: solid #d1ddea 1px;
            border-bottom-color: rgb(209, 221, 234);
            border-bottom-style: solid;
            border-bottom-width: 1px;
        border-bottom-color: rgb(209, 221, 234);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-radius: 3px 0 0 3px !important;
        border-bottom: 2px solid #ff9900;
        transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
        height: 45px;
        line-height: 45px;
        text-align: left;
        padding: 20px;
        font-size: 16px;
        font-family: 'Lato';
        color: #a8a8a8d9;
    }
    .MobailSearchWrap i {
        background: #0397d3;
        width: 22%;
        color: #ffffff;
        padding: 15px 15px;
        border: none;
    }
}

/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
