*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(51, 44, 44);
}
img{max-width: 100%;}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
a:hover{
    text-decoration: none;
}
html{
    scroll-behavior: smooth!important;
}
body{
    background-color: rgb(245, 244, 244);
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 1150px!important;
    margin: auto;
}
.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-1 {
    padding: 0;
    margin: 0;
}
input:focus {
    outline: none;
}
section{
  padding:20px 0px;
}
 /* font family */
 
 /*font-family: 'Open Sans', sans-serif;*/
 /* font-family: 'Lato', sans-serif; */


 
 /*---------------------*/
/* ///////////////////////////////////////////////////////////////////////////// */
/* -------------------------------------------------------------------------------- */
.mobailsearchBarSticky {
    display: none;
}
.MobailHederSticky {
    position: fixed;
    z-index: 11111111111111111;
    width: 100%;
    background: #fff;
}
.stickylogonone{
    display: none;
}
.userstickynone{
    display: none;
}
.StickyNone {
    display: none;
}

.mobail-cart-userWidth {
  width: 15% !important;
  float: right;
}
  .mainLoginInput::-webkit-input-placeholder { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
#stickySearchBar {
    width: 70%;
    float: left;
    padding: 13px 10px 10px 10px;
    display: none;
  }
  .stickySearchBar {
    display: block !important;
}
  .mainLoginInput {
    padding: 0px 13px;
    border: solid 1px #ddd;
    border-bottom: 1px solid #ecac32;
    border-radius: 4px;
    width: 100%;
  }
  .mainLoginInput::-moz-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
  
  .mainLoginInput:-ms-input-placeholder  { 
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: hsl(9, 40%, 60%);
  }
.StickyMobail {
    position: fixed;
    z-index: 1111111111111111111;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ddd;
    display: block;
}
.top-menu-logo img {
    width: 110px;
    float: left;
}

#SticyHeder {
  background: white;
}
.sticky {
    position: fixed;
    width: 100%;
    z-index: 111111111111111;
}

div#top-menu {
    padding: 0px 0px 23px 0px;
}
.top-menu-search i {background: #0397d3;width: 8%;color: #ffffff;padding: 14px 18px;border: none;}

.top-menu-search input {
    width: 90%;
    border: solid #d1ddea 1px;
    border-radius: 3px 0 0 3px !important;
    border-bottom: 2px solid #ff9900;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-family: 'Lato';
    color: #a8a8a8d9;
}

.top-menu-search {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
}
.top-menu-singUp-btn a {
    color: #464646;
    border: solid 1px #464646;
    text-align: center;
    width: 80px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all .5s;
    font-weight: 400;
}

.top-menu-singUp-btn {
    position: relative;
    box-sizing: border-box;
}

.top-menu-singUp-btn a:hover {
    background: #33C24D;
    border: solid 1px #33C24D;
    color: #fff;
}
.top-menu-singUp-btn {
    float: right;
    margin-top: 9px;
}

.top-menu-shop-cart {
    width: 50%;
    float: left;
}

.top-menu-shop-cart svg {
    float: right;
    width: 33px;
}

.top-menu-cart-warp {
    overflow: hidden;
    /* padding-top: 10px; */
}

.top-menu-cart-warp {
    width: 100%;
}
.navi ul {
    display: block;
    text-align: left;
    padding-left: 77px;
}
hr{
    font-size: .3px;
    background-color: #3895d38c;
    margin-top: -17px !important;
}


#DesktopHeader {
    background-color: white;
  }
.wrap .navi ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 16px;
    font-family: lato;
    font-weight: 100;
}
.wrap .navi ul li a{
    font-size: 15.5px;
    text-decoration: none;
    color: black;
    transition: all .3s;
    display: inline-block;
    padding-bottom: 6px;
}
a.active {
    border: 1.5px solid #3895d394;
    border-bottom: 2px solid white !important;
    z-index: 10;
    position: relative;
    padding-inline: 17.5px;
    padding-top: 6px;
}
.wrap .navi ul li a:hover{
    color: #3895D3;
}
.wrap .navi ul li a img{
    width: 26px;
    height: 25px;
    margin-top: -9px;
}
nav .wrapper{
    padding-block: 1px;
    margin:0;
    position: relative;
    background-color: white;
}
.nav-links{
    margin-top: 0;
    text-align: center;
}
.nav-links li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 23px;
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 1.7;
    font-size: 15.2px;
    text-align: center;
    transition: all .3s;
}
.nav-links li a:hover{
    color: #3895D3;
}
.mega-box{
    opacity: 0;
    display: none;
}

.mega-box ul li {
    display: list-item;
  }
.nav-links li:nth-child(1){
    transition: all .3s;
}
.nav-links li:nth-child(1):hover .mega-box{
    opacity: 1;
    display: flex;
}

.nav-links li:nth-child(4) a {
    color: tomato;
}
.nav-links li:nth-child(4) a:hover{
    color: black;
}
.nav-links li:nth-child(6) a{
    color: limegreen;
}
.nav-links li:nth-child(6) a:hover{
    color: black;
}
nav .wrapper li a i{
    transform: rotate(0deg);
    transition: all .2s;
}
nav .wrapper li a:hover i{
    transform: rotate(180deg);
    color: #3895D3;
}
nav .wrapper li a i:hover{
    transform: rotate(180deg);
    color: #3895D3;
}
.mega-box .content{
    background: white;
    position: absolute;
    /*! top: 30px; */
    /*! display: flex; */
    /*! align-items: center; */
    /*! justify-content: space-between; */
    width: 100%;
    z-index: 10;
}
.mega-box .content .row{
    margin-inline: 70px;
    margin-block: 20px;
}
.mega-box .content .row ul li{
    margin-block: 12px;
    text-align: left;
    list-style-type: disc;
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li a{
    color: rgb(71, 59, 59);
    font-size: 14px!important;
}
.mega-box .content .row ul li a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(4) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(4) a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(6) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(6) a:hover{
    color: #3895D3;
}

.mega-box .content .row:nth-child(4) li:nth-child(8){
    list-style-type: none;
}
.mega-box .content .row:nth-child(4) li:nth-child(8) a{
    font-size: 18px;
    color: #3895D3;
    font-weight: 100;
}


/* Mobail SideNavbar Css Start */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 49;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
    box-shadow: 0px 0px 1px 1px #c6bfbf;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
 
  
.navBtn {
    width: 7%;
    float: left;
  }

  .mobail-cart-user {
    width: 50%;
    float: left;
  }
.mobail-NavLogo {
  width: 43%;
  float: left;
}
.mobail-NavLogo img {
  width: 40%;
  padding: 5px 0px;
}
.mobail-cart-user i {
  padding: 10px 12px;
  float: right;
  font-size: 20px;
  color: #000;
}

#MobailHeader {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 3px 0px;
    box-shadow: 6px 1px 1px 1px #ddd;
  }


  .MobailSearchWrap input {
    width: 90%;
    border: solid #d1ddea 1px;
        border-bottom-color: rgb(209, 221, 234);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    border-radius: 3px 0 0 3px !important;
    border-bottom: 2px solid #ff9900;
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95);
    height: 45px;
    line-height: 45px;
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-family: 'Lato';
    color: #a8a8a8d9;
}
.MobailSearchWrap i {
    background: #0397d3;
    width: 10%;
    color: #ffffff;
    padding: 14px 18px;
    border: none;
}

#mobailsearchBar {
    padding: 20px 0px;
    border-bottom: solid 1px #ddd;
    box-shadow: 1px 2px 9px 0px #ddd;
  }
  .MobailSideNav {
    position: absolute;
    top: 0;
    background: #3498db;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.iconHome {
    width: 50%;
    float: left;
    padding: 6px 10px;
}
.iconHome i, b {
    color: #fff;
    font-size: 14px;
}
.sideCloseNav {
    width: 50%;
    float: right;
    color: #fff;
}
.sideCloseNav a {
    color: #fff;
    text-align: right;
    padding: 6px 15px;
}

.rotetSucessfull.fa-angle-up {
    transform: rotate(180deg);
}
#headingOne {
    padding: 0;
}
.btn.btn-link.SideNavBtn {
    width: 100%;
    padding: 0;
}
.MobailListMenu {
    padding: 5px 0px;
}
.SideMenuName {
    width: 65%;
    float: left;
    /*! padding-left: 15px; */
    text-align: left;
    padding-left: 25px;
}
.SideMenuName b {
    color: #0b0909;
    padding: 0px 5px;
    font-weight: 300;
}

.sideDropMenuList ul li a {
    font-size: 15px;
    padding: 8px 10px 0px 40px;
}
.card-body.SideNavBody {
    padding: 5px 20px;
}
.LooadMOreSIdeNAv {
    margin-left: 20px;
    color: #264de8 !important;
    font-size: 14px !important;
}
.sideDropMenuList ul li i {
    padding-right: 10px;
}

.other-Side-Nav-Mneu ul li a {
    font-size: 15px;
    padding: 5px 26px;
    color: #000;
    font-weight: lighter;
  }
  .other-Side-Nav-Mneu ul li {
    border-bottom: 1px solid #ddd;
}
.other-Side-Nav-Mneu ul li a i {
    padding-right: 10px;
}
.nivo-controlNav {
    display: none;
}
.slider-wrapper.theme-default {
    padding: 20px 0px;
}


#Nivo-Slider {
    padding: 0;
  }
  #baner {
    padding: 0;
  }
/* Nivo Slider End */

/* Bannner Design */





/* Product Design */


.book-wrapaper {
    position: relative;
    width: 100%;
    height: 327px;
    /* overflow: hidden; */
  }
  .book-img-wrap {
    position: relative;
    margin-top: 20px;
  }
  .discount-badge {
    position: absolute;
    top: 0;
    left: 8%;
  }
  .discount-badge b {
    position: absolute;
    top: 5px;
    color: #000;
    left: 20%;
    font-size: ;
  }
  .insideDisc {
    position: absolute;
    bottom: 0px;
    right: 38px;
    width: 42%;
}
.bookimg img {
    width: 60%;
    margin: auto;
}
.add-toCard-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    padding: 0px 0px 6px 8px;
    background: #DB8608;
    display: none;
    transform: translate(-50%);
    width: 64%;
    text-align: center;
}
.add-toCard-btn i{
    color: #fff;
}
.book-title {
    text-align: center;
    padding: 15px 0px 3px 0px;
}
.book-orginal-price {
    width: 50%;
    float: left;
}
.book-orginal-price p {
    padding-left: 35px;
    font-weight: bold;
}
.currentPrice {
    width: 50%;
    float: left;
}
.currentPrice p {
    padding-left: 8px;
    font-weight: bold;
}
.book-price {
    overflow: hidden;
}
.view-dettails-wrap {
    overflow: hidden;
    /*! margin-top: 10px; */
}
.view-dettails-wrap button {
    padding: 6px 20px;
    margin: auto;
    background: #37AAF7;
    display: block;
    width: 100%;
    border: none;
    font-weight: bold;
    color: #fff;
    display: none;
}
.book-wrapaper:hover .add-toCard-btn {
    display: block;
    transition: .15s ease-in-out;
}
.book-wrapaper:hover .view-dettails-wrap button {
    display: block;
    transition: .15s ease-in-out;
}
.book-wrapaper:hover .insideDisc {
    display: none;
    transition: .15s ease-in-out;
}
.book-wrapaper:hover .book-img-wrap img  {
    opacity: .5;
}
.book-wrapaper:hover .discount-badge  {
    opacity: .5;
}
.book-wrapaper:hover {
    background: #FAF9F2;;
    height: 84%;
    overflow: hidden;
    box-shadow: 11px -2px 20px 12px #ddd;
    transition: .15s ease-in-out;
}
.ProductBancground {
    background: #FAF9F2;
    /*! box-shadow: 1px 6px 7px 1px #b6b6b6; */
    border-bottom: 2px solid #ddd;
}
.ProductSetcionTitle h3 {
    padding: 10px 15px;
    font-size: 25px;
    font-weight: bold;
    font-family: lato;
}
.book-wrapaper:hover .product-cart-text {
    opacity: 0.2;
}

.slick-prev.slick-arrow {
    width: 30px;
    height: 73px;
    background: #FFFFFF;
    z-index: 111;
    border: solid 1px #fff;
    box-shadow: 9px 3px 36px -8px #000;
  }
  .slick-prev.slick-arrow:before {
    color: #000;
  }
  .slick-next.slick-arrow {
    width: 30px;
    height: 73px;
    background: #FFFFFF;
    z-index: 111;
    border: solid 1px #fff;
    box-shadow: 9px 3px 36px -8px #000;
  }
  .slick-next.slick-arrow:before {
    color: #000;
  }

