*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(51, 44, 44);
    text-align: center;
}
img{max-width: 100%;}
a{
    text-decoration: none;
}
html body{
    background-color: rgb(245, 244, 244);
    scroll-behavior: smooth!important;
    overflow-x: hidden;
}
 /* font family */
 
 /*font-family: 'Open Sans', sans-serif;*/


 
 /*---------------------*/
/* ///////////////////////////////////////////////////////////////////////////// */
/* -------------------------------------------------------------------------------- */

/* .wrapped{
    margin: 0;
    padding: 0;
    padding-top:15px;
    margin-bottom: -15px;
    overflow: hidden;
    background: white;
} */
/* .sticky{
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 1000;
    background: white;
} */

/* .wrapped .navy ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapped .navy ul li{
    list-style-type: none;
}
svg:hover{
    cursor: pointer;
}
.wrapped .navy ul li i{
    border: 1px solid #3895D3;
    text-align: center;
    background: #3895D3;
    color: white;
    border-radius: 0 4px 4px 0;
    font-size: 23px;
    padding: 15px;
    margin-left: -5px;
    padding-top: 13.2px;
    padding-bottom: 18.3px;
    padding-inline: 17px;
    transition:all .3s ;
}
.wrapped .navy ul li i:hover{
    cursor: pointer;
    background-color: #1484cf;
}
.wrapped .navy ul li img{
    width: 130px;
}
.wrapped .navy ul li img:hover{
    cursor: pointer;
}
.wrapped .navy ul li input{
    width: 500px;
    height:55px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid tomato;
    border-radius: 4px 0 0 4px;
}
.wrapped .navy ul li input:focus{
    border: 1px solid #3895D3;
}
.wrapped .navy ul li button{
    padding: 7px;
    padding-inline: 18.5px;
    border: 1px solid #aaa;
    border-radius: 6px;
    background: white;
    font-size: 19px;
    outline: none;
    transition: all .2s;
}
.wrapped .navy ul li button:hover{
    background: rgb(38, 189, 38);
    color: white;
} */
hr{
    font-size: .3px;
    background-color: #3895D3;
    margin-top: -17px !important;
}
header{
    background-color: white;
}
.wrap{
    padding-top: 30px;
    padding-inline: 50px;
    margin-bottom: -10px;
}
.wrap .navi ul{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}
.wrap .navi ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 18px;
}
.wrap .navi ul li a{
    font-size: 15.5px;
    text-decoration: none;
    color: black;
    transition: all .3s;
    display: inline-block;
    padding-bottom: 2px;
}
a.active {
    border: 1.5px solid #3895D3;
    border-bottom: 2px solid white !important;
    z-index: 10;
    position: relative;
    padding-inline: 17.5px;
    padding-top: 6px ;
}
.wrap .navi ul li a:hover{
    color: #3895D3;
}
.wrap .navi ul li a img{
    width: 26px;
    height: 25px;
    margin-top: -9px;
}
nav .wrapper{
    padding-inline: 70px;
    padding-block: 1px;
    margin:0;
    position: relative;
    background-color: white;
}
.nav-links{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.nav-links li{
    list-style-type: none;
    /* margin-inline: 3px;
    margin-top: 10px; */
}

.nav-links li a{
    text-decoration: none;
    color: black;
    font-weight: 1.7;
    font-size: 15.2px;
    text-align: center;
    transition: all .3s;
}
.nav-links li a:hover{
    color: #3895D3;
}
.mega-box{
    opacity: 0;
    display: none;
}
.nav-links li:nth-child(1){
    transition: all .3s;
}
.nav-links li:nth-child(1):hover .mega-box{
    opacity: 1;
    display: flex;
}

.nav-links li:nth-child(4) a {
    color: tomato;
}
.nav-links li:nth-child(4) a:hover{
    color: black;
}
.nav-links li:nth-child(6) a{
    color: limegreen;
}
.nav-links li:nth-child(6) a:hover{
    color: black;
}
nav .wrapper li a i{
    transform: rotate(0deg);
    transition: all .2s;
}
nav .wrapper li a:hover i{
    transform: rotate(180deg);
    color: #3895D3;
}
nav .wrapper li a i:hover{
    transform: rotate(180deg);
    color: #3895D3;
}
.mega-box .content{
    background: white;
    position: absolute;
    top: 30px;
    left: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mega-box .content .row{
    margin-inline: 70px;
    margin-block: 20px;
}
.mega-box .content .row ul li{
    margin-block: 12px;
    text-align: left;
    list-style-type: disc;
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(4) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(4) a:hover{
    color: #3895D3;
}
.mega-box .content .row ul li:nth-child(6) a{
    color: rgb(71, 59, 59);
}
.mega-box .content .row ul li:nth-child(6) a:hover{
    color: #3895D3;
}

.mega-box .content .row:nth-child(4) li:nth-child(8){
    list-style-type: none;
}
.mega-box .content .row:nth-child(4) li:nth-child(8) a{
    font-size: 18px;
    color: #3895D3;
    font-weight: 100;
}
/* .sidebar, .mobi1,.mobi2{
    opacity: 0;
    display:none;
}
@media (max-width: 1194px){
    .sidebar{
        opacity: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: -2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding-top: 23px;
        background: white;
        border-radius: 0 6px 6px 0;
        height: 100%;
        width: 238px;
}

.sidebar ul li{
        list-style-type: none;
        text-align: left;
        padding: .6em;
    }
.sidebar ul li a{
        text-decoration: none;
        color: black;
}
.wrapped, header, .mega-box .content, .nav-links li:nth-child(1):hover .mega-box, .nav-links{
        opacity: 0;
        display: none;
}

.mobi1{
        opacity: 1;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 10px;
}
.mobi1 ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    
}
.mobi1 ul li{
    list-style-type: none;
}
.mobi1 ul li a{
    text-decoration: none;
}
.menu{
    opacity: 1;
    display:flex;
    padding: 10px;
    margin: 0;
    padding: 0;
    font-size: 27px;
    margin-left: 10px;
}
.menu:hover{
cursor: pointer;
}
.mobi1 img{
    width:100px;
    margin-inline: 22px;
}
.user{
    font-size: 30px;
}
.mobi2{
    opacity: 1;
    display: inline-block;
    position: absolute;
    top: 75px;
    left: 0;
    
}
.mobi2 ul li{
    list-style-type: none;
}
.mobi2 ul li input{
    width: 500px;
    height:55px;
    outline: none;
    border: 1px solid #ccc;
    border-bottom: 2px solid tomato;
    border-radius: 4px 0 0 4px;
}
} */
